/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
body {
  color: white;
  min-height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/*Doing navbar and header section */
.header-section {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}
.navbar {
  padding: 20px 0px;
  align-items: center;
  justify-content: space-evenly;
  /* border: 2px solid blue; */
  display: flex;
}

.links {
  display: flex;
}

.logo {
  font-weight: 900;
  font-size: 24px;
  color: #f8faf9;
}

.title-text,
.links a {
  color: #e5e7eb;
  font-size: 18px;
}

.links a {
  text-decoration: none;
}

.links {
  /* border: 2px solid palegreen; */
  gap: 30px;
}

/*Title Section*/

.title-section {
  padding: 100px;
  display: flex;
  justify-content: space-evenly;
  /* border: 3px solid hotpink; */
  align-items: center;
}

.introduction {
  padding: 24px;
  /* border: 2px solid white; */
}

.introduction h1 {
  font-size: 48px;
  color: #f8faf9;
  font-weight: 900;
}
.title-text {
  margin-bottom: 12px;
  /* border: 2px solid bisque; */
}

.btn {
  font-size: 18px;
  font-weight: bold;
  background-color: #3882f6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 32px;
}

.img-placeholder {
  background-color: #8e9196;
  /*  border: 2px solid saddlebrown; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 300px;
}

/*Doing the information section*/

.information-section {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  /* border: 2px solid gold; */
  padding: 30px;
}

.information-section h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;
}

.card {
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid salmon; */
}

.bg {
  width: 120px;
  height: 120px;
  border: 4px solid #3882f6;
  border-radius: 8px;
}

.sub-information {
  gap: 10px;
  display: flex;
}

.card p {
  width: 215px;
  padding: 12px;
  font-size: 18px;
  /* border: 2px solid yellow; */
  color: #555555;
  text-align: center;
}
